### < Topic >

1. review


2. topic

    2.1 LDA
    
    2.2 머신러닝

# 영화 review 이용 카운트 기반 단어 표현: BoW, DTM, TF-IDF

In [1]:
# 영화 review data 로드 및 내용 list로 변환

import pandas as pd

In [6]:
movie_df = pd.read_csv('movie_reviews.csv')

movie_df.shape

(384, 4)

In [7]:
movie_df.head()

,Unnamed: 0,title,story,genre
0,0,그린 북,1962년 미국 입담과 주먹만 믿고 살아가던 토니 발레롱가비고 모텐슨는 교양과 우아...,드라마
1,1,가버나움,나를 세상에 태어나게 한 부모님을 고소하고 싶어요출생기록조차 없이 살아온 어쩌면 1...,드라마
2,2,베일리 어게인,귀여운 소년 이든의 단짝 반려견 베일리는 행복한 생을 마감한다하지만 눈을 떠보니 다...,모험
3,3,주전장,일본의 인종차별 문제를 다룬 영상을 올린 후 우익들의 공격 대상이 된 일본계 미국인...,다큐멘터리
4,4,포드 V 페라리,1960년대 매출 감소에 빠진 포드는 판매 활로를 찾기 위해스포츠카 레이스를 장악한...,액션

In [10]:
# 불필요한 인덱스 삭제

movie_df.drop(movie_df.columns[[0]], axis = 'columns')

               title                                              story  genre
0               그린 북  1962년 미국 입담과 주먹만 믿고 살아가던 토니 발레롱가비고 모텐슨는 교양과 우아...    드라마
1               가버나움  나를 세상에 태어나게 한 부모님을 고소하고 싶어요출생기록조차 없이 살아온 어쩌면 1...    드라마
2            베일리 어게인  귀여운 소년 이든의 단짝 반려견 베일리는 행복한 생을 마감한다하지만 눈을 떠보니 다...     모험
3                주전장  일본의 인종차별 문제를 다룬 영상을 올린 후 우익들의 공격 대상이 된 일본계 미국인...  다큐멘터리
4           포드 V 페라리  1960년대 매출 감소에 빠진 포드는 판매 활로를 찾기 위해스포츠카 레이스를 장악한...     액션
..               ...                                                ...    ...
379  바그다드 카페 : 디렉터스컷  황량한 사막 한가운데 자리 잡은 초라한 바그다드 카페 커피머신은 고장난지 오래고 먼...    코미디
380           론 서바이버  2005년 6월 28일 아프가니스탄에서 복무중인 네이비씰 대원 마커스 마이클 대니 ...     액션
381             국제시장  1950년대 한국전쟁 이후로부터 현재에 이르기까지 격변의 시대를 관통하며 살아온 우...    드라마
382              말레나  2차 대전이 한창인 햇빛 찬란한 지중해의 작은 마을 매혹적인 말레나 걸어갈 때면 어...    드라마
383           콜드 마운틴  남군 병사인 인만주드 로은 전투 중에 중상을 입고 병원에 입원해있던 도중에 탈영을 ...    드라마

[384 rows x 3 columns]

In [12]:
# 줄거리만 담아 list화

movie_story = movie_df.story

In [13]:
movie_reviews = movie_story.values.tolist()

In [14]:
movie_reviews[:5]

['1962년 미국 입담과 주먹만 믿고 살아가던 토니 발레롱가비고 모텐슨는 교양과 우아함 그 자체인천재 피아니스트 돈 셜리마허샬라 알리 박사의 운전기사 면접을 보게 된다백악관에도 초청되는 등 미국 전역에서 콘서트 요청을 받으며 명성을 떨치고 있는 돈 셜리는위험하기로 소문난 미국 남부 투어 공연을 떠나기로 결심하고투어 기간 동안 자신의 보디가드 겸 운전기사로 토니를 고용한다거친 인생을 살아온 토니 발레롱가와 교양과 기품을 지키며 살아온 돈 셜리 박사생각 행동 말투 취향까지 달라도 너무 다른 두 사람은그들을 위한 여행안내서 그린북에 의존해 특별한 남부 투어를 시작하는데',
 '나를 세상에 태어나게 한 부모님을 고소하고 싶어요출생기록조차 없이 살아온 어쩌면 12살 소년 자인으로부터',
 '귀여운 소년 이든의 단짝 반려견 베일리는 행복한 생을 마감한다하지만 눈을 떠보니 다시 시작된 견생 2회차 아니 3회차1등 경찰견 엘리에서 찰떡같이 마음을 알아주는 소울메이트 티노까지다시 태어날 때마다 성별과 생김새 직업에 이름도 바뀌지만여전히 영혼만은 사랑 충만 애교 충만 주인바라기 베일리어느덧 견생 4회차 방랑견이 되어 떠돌던 베일리는마침내 자신이 돌아온 진짜 이유를 깨닫고 어딘가로 달려가기 시작하는데',
 '일본의 인종차별 문제를 다룬 영상을 올린 후 우익들의 공격 대상이 된 일본계 미국인 유튜버 미키 데자키 그는 일본군위안부에 관한 기사를 쓴 기자가 우익들에게 인신공격 당하는 것을 보며 왜 그토록 이들이 이 문제를 감추려고 하는지 궁금해졌다호기심을 안고 찾아간 그들은 무시무시한 이야기를 전하고 그들의 주장을 반격하는 또 다른 인물들을 만나면서 숨겨진 비밀을 발견하게 되는데 숨 쉴 틈 없는 전쟁이 시작된다',
 '1960년대 매출 감소에 빠진 포드는 판매 활로를 찾기 위해스포츠카 레이스를 장악한 절대적 1위 페라리와의 인수 합병을 추진한다막대한 자금력에도 불구 계약에 실패하고 엔초 페라리로부터 모욕까지 당한 헨리 포드 2세는르망 24시간 레이스에서 페라리를 박살 낼 차를 만들 것을 지시한다 불가능을 즐기는 두 남자를 주목하라세계 3대 자동차 레이싱 대회이자 지옥의 레이스로 불리는 르망 24시간 레이스출전 경험조차 없는 포드는 대회 6연패를 차지한 페라리에 대항하기 위해르망 레이스 우승자 출신 자동차 디자이너 캐롤 셸비맷 데이먼를 고용하고 그는 누구와도 타협하지 않지만 열정과 실력만큼은 최고인 레이서 켄 마일스크리스찬 베일를 자신의 파트너로 영입한다포드의 경영진은 제 멋대로인 켄 마일스를 눈엣가시처럼 여기며자신들의 입맛에 맞춘 레이스를 펼치기를 강요하지만두 사람은 어떤 간섭에도 굴하지 않고 불가능을 뛰어넘기 위한 질주를 시작하는데그 어떤 각본보다 놀라운 실화가 펼쳐진다']

## 카운트 기반 단어 표현 (Count-based word Representation): BoW

In [16]:
## 카운트 기반 단어 표현 (Count-based word Representation) - BoW
# 1. 파이썬 기초 코드
# 토큰화

from konlpy.tag import Okt

okt = Okt()

movie_review_tokens = []

for review in movie_reviews:
    movie_review_tokens.append(okt.morphs(review))
    
movie_review_tokens[1]

['나를',
 '세상',
 '에',
 '태어나게',
 '한',
 '부모님',
 '을',
 '고소하고',
 '싶어요',
 '출생',
 '기록',
 '조차',
 '없이',
 '살아온',
 '어쩌면',
 '12',
 '살',
 '소년',
 '자인',
 '으로부터']

In [18]:
movie_review_nouns = []

for review in movie_reviews:
    movie_review_nouns.append(okt.nouns(review))
    
movie_review_nouns[1]

['세상', '부모님', '출생', '기록', '어쩌면', '살', '소년', '자인']

In [28]:
# 1) 각 단어에 대한 고유한 정수 인덱스 부여 - 명사,조사 (토큰)

word2indexs = [] 
bows = []       

for review_token in movie_review_tokens:
    word2index = {}         # 단어별 인덱스 저장
    bow = []                # 등장 횟수 vector
    for voca in review_token:
        if voca not in word2index.keys():
            word2index[voca] = len(word2index)  # word2index에 없는 단어는 새로 추가
            bow.insert(len(word2index)-1, 1)   # bow 전체에 기본값 저장, 단어 등장횟수는 최소 1 이상
        else:
            index = word2index.get(voca)  # 재등장 단어의 인덱스 획득
            bow[index] += 1    # 재등장 단어의 등장횟수 
        
    word2indexs.append(word2index)
    bows.append(bow)

In [30]:
word2indexs[0]

{'1962년': 0,
 '미국': 1,
 '입담': 2,
 '과': 3,
 '주먹': 4,
 '만': 5,
 '믿고': 6,
 '살아가던': 7,
 '토니': 8,
 '발레': 9,
 '롱': 10,
 '가': 11,
 '비고': 12,
 '모텐슨는': 13,
 '교양': 14,
 '우아함': 15,
 '그': 16,
 '자체': 17,
 '인': 18,
 '천재': 19,
 '피아니스트': 20,
 '돈': 21,
 '셜리마허샬': 22,
 '라': 23,
 '알리': 24,
 '박사': 25,
 '의': 26,
 '운전기사': 27,
 '면접': 28,
 '을': 29,
 '보게': 30,
 '된다': 31,
 '백악관': 32,
 '에도': 33,
 '초청': 34,
 '되는': 35,
 '등': 36,
 '전역': 37,
 '에서': 38,
 '콘서트': 39,
 '요청': 40,
 '받으며': 41,
 '명성': 42,
 '떨치고': 43,
 '있는': 44,
 '셜리': 45,
 '는': 46,
 '위험하기로': 47,
 '소문난': 48,
 '남부': 49,
 '투어': 50,
 '공연': 51,
 '떠나기로': 52,
 '결심': 53,
 '하고': 54,
 '기간': 55,
 '동안': 56,
 '자신': 57,
 '보디가드': 58,
 '겸': 59,
 '로': 60,
 '를': 61,
 '고용': 62,
 '한': 63,
 '다': 64,
 '거친': 65,
 '인생': 66,
 '살아온': 67,
 '와': 68,
 '기품': 69,
 '지키며': 70,
 '생각': 71,
 '행동': 72,
 '말투': 73,
 '취향': 74,
 '까지': 75,
 '달라': 76,
 '도': 77,
 '너무': 78,
 '다른': 79,
 '두': 80,
 '사람': 81,
 '은': 82,
 '들': 83,
 '위': 84,
 '여행안내서': 85,
 '그린북': 86,
 '에': 87,
 '의존': 88,
 '해': 89,
 '특별한': 90,
 '시작': 91,
 '하는데': 92}

In [34]:
bows[0]

[1,
 3,
 1,
 3,
 1,
 1,
 1,
 1,
 3,
 2,
 2,
 2,
 1,
 1,
 2,
 1,
 2,
 1,
 1,
 1,
 1,
 3,
 1,
 1,
 1,
 2,
 2,
 2,
 1,
 7,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 1,
 1,
 1,
 2,
 3,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 1,
 2,
 1,
 1,
 1,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1]

In [31]:
# 2) 각 단어에 대한 고유한 정수 인덱스 부여 - 명사

word2indexs_n = [] 
bows_n = []       

for review_token in movie_review_nouns:
    word2index = {}         # 단어별 인덱스 저장
    bow = []                # 등장 횟수 vector
    for voca in review_token:
        if voca not in word2index.keys():
            word2index[voca] = len(word2index)  # word2index에 없는 단어는 새로 추가
            bow.insert(len(word2index)-1, 1)   # bow 전체에 기본값 저장, 단어 등장횟수는 최소 1 이상
        else:
            index = word2index.get(voca)  # 재등장 단어의 인덱스 획득
            bow[index] += 1    # 재등장 단어의 등장횟수 
        
    word2indexs_n.append(word2index)
    bows_n.append(bow)

In [32]:
word2indexs_n[0]

{'미국': 0,
 '입담': 1,
 '주먹': 2,
 '토니': 3,
 '발레': 4,
 '롱': 5,
 '비고': 6,
 '모텐슨는': 7,
 '교양': 8,
 '그': 9,
 '자체': 10,
 '천재': 11,
 '피아니스트': 12,
 '돈': 13,
 '셜리마허샬': 14,
 '알리': 15,
 '박사': 16,
 '운전기사': 17,
 '면접': 18,
 '백악관': 19,
 '초청': 20,
 '등': 21,
 '전역': 22,
 '콘서트': 23,
 '요청': 24,
 '명성': 25,
 '셜리': 26,
 '남부': 27,
 '투어': 28,
 '공연': 29,
 '결심': 30,
 '기간': 31,
 '동안': 32,
 '자신': 33,
 '보디가드': 34,
 '겸': 35,
 '고용': 36,
 '인생': 37,
 '기품': 38,
 '생각': 39,
 '행동': 40,
 '말투': 41,
 '취향': 42,
 '달라': 43,
 '다른': 44,
 '두': 45,
 '사람': 46,
 '위': 47,
 '여행안내서': 48,
 '그린북': 49,
 '의존': 50,
 '시작': 51}

In [33]:
bows_n[0]

[3,
 1,
 1,
 3,
 2,
 2,
 1,
 1,
 2,
 2,
 1,
 1,
 1,
 3,
 1,
 1,
 2,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 2,
 3,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1]

In [36]:
## 카운트 기반 단어 표현 (Count-based word Representation) - BoW
# 2. Scikit-learn

from sklearn.feature_extraction.text import CountVectorizer

vector = CountVectorizer()  # BoW 처리

In [39]:
s_word2indexs = []
s_bows = []

for review_token in movie_review_tokens:
    s_bows.append(vector.fit_transform(review_token))  # 빈도 계산
    s_word2indexs.append(vector.vocabulary_)     # 인덱스 값 부여

In [42]:
s_word2indexs[1]

{'나를': 3,
 '세상': 6,
 '태어나게': 15,
 '부모님': 4,
 '고소하고': 1,
 '싶어요': 8,
 '출생': 14,
 '기록': 2,
 '조차': 13,
 '없이': 10,
 '살아온': 5,
 '어쩌면': 9,
 '12': 0,
 '소년': 7,
 '자인': 12,
 '으로부터': 11}

In [43]:
print(s_bows[1])

  (0, 3)	1
  (1, 6)	1
  (3, 15)	1
  (5, 4)	1
  (7, 1)	1
  (8, 8)	1
  (9, 14)	1
  (10, 2)	1
  (11, 13)	1
  (12, 10)	1
  (13, 5)	1
  (14, 9)	1
  (15, 0)	1
  (17, 7)	1
  (18, 12)	1
  (19, 11)	1

In [44]:
## 카운트 기반 단어 표현 (Count-based word Representation) - BoW
# 3. 불용어 처리

stop_words = []

with open('stopwords.txt', 'r', encoding = 'utf-8') as f:
    lines = f.readlines()
    for line in lines:
        stop_words.append(line.rstrip('\n'))

In [46]:
movie_review_nouns_stop = []

for review in movie_review_nouns:
    results = []
    for word in review:
        if word not in stop_words:
            results.append(word)
            
        movie_review_nouns_stop.append(results)

In [47]:
word2index = []
bows = []

for review_token in movie_review_nouns_stop:
    bows.append(vector.fit_transform(review_token))
    word2index.append(vector.vocabulary_)

## 문서 단어 행렬 (Document-Term Matrix): DTM

In [49]:
## 문서 단어 행렬 (Document-Term Matrix) - DTM

from math import log

vocab = list(set(w for review in movie_reviews for w in review.split()))
vocab.sort()

In [58]:
# TF-IDF를 위한 함수

N = len(movie_reviews)  # 비교하려는 대상, DTM으로 구성하려는 대상

def tf(t, d):
    return d.count(t)

def idf(t):
    df = 0
    for review in movie_reviews:
        df += t in review
        
    return log(N / (df+1))

def tfidf(t, d):
    return tf(t,d) * idf(t)

In [53]:
# DTM 생성

result = []

for i in range(N):
    result.append([])
    d = movie_reviews[i]
    for j in range(len(vocab)):
        t = vocab[j]
        result[-1].append(tf(t, d))
        
tf_ = pd.DataFrame(result, columns = vocab) ; tf_

,1,100,1000점을,100m도,100년전,100를,100만,100만이,100미터,100번째,...,힘없는,힘없이,힘에,힘으로,힘은,힘을,힘의,힘이,힘입어,힘차게
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
379,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
380,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
381,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
382,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
383,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## 단어 빈도 - 역 문서 빈도 (Term Frequency - Inverse Document Frequency): TF-IDF

In [55]:
## 단어 빈도 - 역 문서 빈도 (Term Frequency - Inverse Document Frequency): TF-IDF
# IDF 값

results = []

for j in range(len(vocab)):
    t = vocab[j]
    results.append(idf(t))
    
idf_ = pd.DataFrame(results, index = vocab, columns = ['IDF']) ; idf_

             IDF
1       0.875469
100     3.465736
1000점을  5.257495
100m도   5.257495
100년전   5.257495
...          ...
힘을      2.906120
힘의      4.158883
힘이      4.158883
힘입어     5.257495
힘차게     5.257495

[22441 rows x 1 columns]

In [60]:
# TF-IDF 행렬

results = []

for i in range(N):
    results.append([])
    review = movie_reviews[i]
    for j in range(len(vocab)):
        t = vocab[j]
        
        results[-1].append(tfidf(t, review))

tfidf_ = pd.DataFrame(results, columns = vocab) ; tfidf_

,1,100,1000점을,100m도,100년전,100를,100만,100만이,100미터,100번째,...,힘없는,힘없이,힘에,힘으로,힘은,힘을,힘의,힘이,힘입어,힘차게
0,0.875469,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.875469,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.875469,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1.750937,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
379,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
380,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
381,0.875469,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
382,0.875469,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
383,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## 문서 유사도 (Document Similarity)

In [61]:
movie_df.head()

,Unnamed: 0,title,story,genre
0,0,그린 북,1962년 미국 입담과 주먹만 믿고 살아가던 토니 발레롱가비고 모텐슨는 교양과 우아...,드라마
1,1,가버나움,나를 세상에 태어나게 한 부모님을 고소하고 싶어요출생기록조차 없이 살아온 어쩌면 1...,드라마
2,2,베일리 어게인,귀여운 소년 이든의 단짝 반려견 베일리는 행복한 생을 마감한다하지만 눈을 떠보니 다...,모험
3,3,주전장,일본의 인종차별 문제를 다룬 영상을 올린 후 우익들의 공격 대상이 된 일본계 미국인...,다큐멘터리
4,4,포드 V 페라리,1960년대 매출 감소에 빠진 포드는 판매 활로를 찾기 위해스포츠카 레이스를 장악한...,액션

In [63]:
# 결측치 확인

movie_df['story'].isnull().sum()

0

In [67]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf = TfidfVectorizer()
tfidf_matrix = tfidf.fit_transform(movie_df['story'])

print(tfidf_matrix.shape)

(384, 22078)

In [70]:
# 코사인 유사도 계산

from sklearn.metrics.pairwise import linear_kernel

cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

In [73]:
# index 값 부여한 indices 시리즈 만들기

indices = pd.Series(movie_df.index, index = movie_df['title']).drop_duplicates()

print(indices.head())

title
그린 북        0
가버나움        1
베일리 어게인     2
주전장         3
포드 V 페라리    4
dtype: int64

In [74]:
idx = indices['그린 북']
print(idx)

0

In [81]:
# 유사 영화 출력 함수

def get_recommendations(title, cosine_Sim = cosine_sim):
    idx = indices[title]
    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key = lambda x: x[1], reverse = True)
    sim_scores = sim_scores[1:11]
    movie_indices = [i[0] for i in sim_scores]
    return movie_df['title'].iloc[movie_indices]

In [82]:
get_recommendations('그린 북')

381            국제시장
1              가버나움
20               헬프
355          인사이드 잡
148       피아니스트의 전설
69     러브 유어셀프 인 서울
140       온리 더 브레이브
231             칼리토
158          트와이스랜드
45            클레멘타인
Name: title, dtype: object

In [83]:
get_recommendations('국제시장')

296             웨딩 드레스
1                 가버나움
218              나비 효과
166               해바라기
375             싱 스트리트
116    빌리 엘리어트 뮤지컬 라이브
0                 그린 북
160      해리 포터와 마법사의 돌
354                크로싱
50          다시 태어나도 우리
Name: title, dtype: object

# Topic Modeling
## 잠재 의미 분석 (Latent Semantic Analysis): LSA

In [85]:
# TF-IDF 행렬

vectorizer = TfidfVectorizer(max_features = 1000, max_df = 0.5, smooth_idf = True)
X = vectorizer.fit_transform(movie_reviews)
X.shape

(384, 1000)

In [89]:
# Topic Modeling

from sklearn.decomposition import TruncatedSVD

svd_model = TruncatedSVD(n_components = 5, algorithm = 'randomized', 
                         n_iter = 100, random_state = 122)
svd_model.fit(X)
len(svd_model.components_)

5

In [90]:
import numpy as np

np.shape(svd_model.components_)

(5, 1000)

In [94]:
terms = vectorizer.get_feature_names()

def get_topics(components, feature_names, n = 5):
    for idx, topic in enumerate(components):
        print("Topic %d: " % (idx + 1),
             [(feature_names[i], topic[i].round(5)) for i in topic.argsort()[:-n-1:-1]])

In [95]:
get_topics(svd_model.components_, terms)

Topic 1:  [('된다', 0.21939), ('위해', 0.20719), ('있는', 0.16388), ('함께', 0.1546), ('없는', 0.14288)]
Topic 2:  [('반지원정대는', 0.28616), ('악의', 0.27503), ('전쟁을', 0.25209), ('위해', 0.22172), ('최후의', 0.16811)]
Topic 3:  [('있을까', 0.20423), ('이야기가', 0.15772), ('가장', 0.15716), ('시작된다', 0.14525), ('로봇', 0.13999)]
Topic 4:  [('위해', 0.27143), ('되는데', 0.23134), ('세계', 0.20337), ('미국', 0.18014), ('꿈을', 0.13367)]
Topic 5:  [('로봇', 0.3401), ('있을까', 0.25133), ('위기에', 0.15261), ('과연', 0.1443), ('된다', 0.12299)]

## 잠재 디리클레 할당 (Latent Dirichlet Allocation): LDA

In [110]:
from sklearn.datasets import fetch_20newsgroups

In [111]:
dataset = fetch_20newsgroups(shuffle = True, random_state =1,
                             remove = ('headers', 'footers', 'quotes'))
documents = dataset.data
len(documents)

11314

In [112]:
news_df = pd.DataFrame({'document':documents})
news_df['clean_doc'] = news_df['document'].str.replace("[^a-zA-Z]", " ")
news_df['clean_doc'] = news_df['clean_doc'].apply(lambda x: ' '.join([w for w in x.split() 
                                                                      if len(w) > 3]))
news_df['clean_doc'] = news_df['clean_doc'] = news_df['clean_doc'].apply(lambda x: x.lower())

In [113]:
# 불용어 처리

from nltk.corpus import stopwords
stop_words = stopwords.words( 'english' )
tokenized_doc = news_df['clean_doc'].apply(lambda x: x.split())
tokenized_doc = tokenized_doc.apply(lambda x: [item for item in x if item not in stop_words])

In [114]:
tokenized_doc[:5]

0    [well, sure, story, seem, biased, disagree, st...
1    [yeah, expect, people, read, actually, accept,...
2    [although, realize, principle, strongest, poin...
3    [notwithstanding, legitimate, fuss, proposal, ...
4    [well, change, scoring, playoff, pool, unfortu...
Name: clean_doc, dtype: object

LDA 수행과정

- 1 사용자는 알고리즘에게 topic 개수 k를 알려준다.
- 2 모든 문서를 k개 중 하나의 topic에 할당한다.
- 3 이제 모든 문서의 모든 단어에 대해서 다음 사항을 반복해서 진행한다.( iteration )
    - 3.1 어떤 문서의 각 단어 w는 자신은 잘못된 topic에 할당되어져 있지만, 다른 단어들은 전부 올바른 topic에 할당되어져 있는 상태라고 가정한다. 이에 따라 단어 w는 다음 기준에 따라 topic이 재할당된다.

        - p( topic t | document d ) : 문서 d의 단어들 중 topic t에 해당하는 단어들의 비율
        - p( word w | topic t ) : 단어 w를 갖고 있는 모든 문서들 중 topic t가 할당된 비율

In [115]:
from gensim import corpora

# gensim을 이용한 정수 인코딩
dictionary = corpora.Dictionary(tokenized_doc)
corpus = [dictionary.doc2bow(text) for text in tokenized_doc]
print(corpus[1]) # 수행된 결과에서 두번째 뉴스 출력, 첫번째 문서의 인덱스는 0

[(52, 1), (55, 1), (56, 1), (57, 1), (58, 1), (59, 1), (60, 1), (61, 1), (62, 1), (63, 1), (64, 1), (65, 1), (66, 2), (67, 1), (68, 1), (69, 1), (70, 1), (71, 2), (72, 1), (73, 1), (74, 1), (75, 1), (76, 1), (77, 1), (78, 2), (79, 1), (80, 1), (81, 1), (82, 1), (83, 1), (84, 1), (85, 2), (86, 1), (87, 1), (88, 1), (89, 1)]

In [116]:
print(dictionary[52])

well

In [117]:
print(dictionary[66])

faith

In [118]:
len(dictionary)

64281

In [119]:
# 토픽별 단어 분포 보기

import gensim

NUM_TOPICS = 20  # 토픽 개수

ldamodel = gensim.models.ldamodel.LdaModel(corpus, num_topics = NUM_TOPICS, 
                                           id2word=dictionary, passes=15) # passes: 알고리즘 동작 횟수
topics = ldamodel.print_topics(num_words=4)  # 4개의 단어만 출력 / 안 주면 10개 출력

for topic in topics:
    print(topic)

(0, '0.014*"president" + 0.013*"government" + 0.008*"technology" + 0.007*"administration"')
(1, '0.021*"font" + 0.017*"fonts" + 0.009*"mask" + 0.008*"bitmap"')
(2, '0.019*"game" + 0.017*"team" + 0.017*"year" + 0.013*"games"')
(3, '0.012*"phillies" + 0.011*"messiah" + 0.010*"powerbook" + 0.008*"rows"')
(4, '0.007*"used" + 0.007*"ground" + 0.006*"time" + 0.006*"engine"')
(5, '0.047*"space" + 0.018*"nasa" + 0.010*"launch" + 0.009*"earth"')
(6, '0.018*"would" + 0.013*"people" + 0.011*"think" + 0.010*"like"')
(7, '0.017*"mail" + 0.013*"address" + 0.012*"posting" + 0.012*"list"')
(8, '0.016*"data" + 0.012*"image" + 0.011*"system" + 0.009*"available"')
(9, '0.016*"gordon" + 0.015*"pitt" + 0.014*"banks" + 0.013*"soon"')
(10, '0.014*"byte" + 0.011*"instruction" + 0.010*"crash" + 0.010*"part"')
(11, '0.020*"file" + 0.013*"program" + 0.010*"output" + 0.009*"window"')
(12, '0.009*"israel" + 0.009*"government" + 0.008*"people" + 0.008*"state"')
(13, '0.018*"armenian" + 0.017*"turkish" + 0.013*"health" + 0.012*"armenians"')
(14, '0.017*"period" + 0.010*"play" + 0.009*"power" + 0.008*"chicago"')
(15, '0.016*"said" + 0.011*"went" + 0.008*"back" + 0.007*"people"')
(16, '0.013*"jesus" + 0.008*"christian" + 0.008*"believe" + 0.008*"bible"')
(17, '0.008*"condition" + 0.008*"sale" + 0.008*"book" + 0.007*"asking"')
(18, '0.016*"cubs" + 0.009*"emacs" + 0.008*"suck" + 0.007*"boots"')
(19, '0.011*"would" + 0.011*"thanks" + 0.010*"like" + 0.010*"drive"')

In [ ]:
### LDA 시각화

import pyLDAvis.gensim

pyLDAvis.enable_notebook()
vis = pyLDAvis.gensim.prepare(ldamodel, corpus, dictionary)
pyLDAvis.display(vis)

### 문서별 topic 분포 보기

In [122]:
for i, topic_list in enumerate(ldamodel[corpus]):
    if i == 5:
        break;
    print(i, '번째 문서의 topic 비율은 ', topic_list)

0 번째 문서의 topic 비율은  [(6, 0.30564585), (12, 0.42042848), (13, 0.059570596), (15, 0.20122413)]
1 번째 문서의 topic 비율은  [(2, 0.09468102), (6, 0.49541897), (12, 0.06764484), (13, 0.05399619), (16, 0.24211265), (17, 0.02769197)]
2 번째 문서의 topic 비율은  [(6, 0.54967505), (12, 0.32414076), (15, 0.111986026)]
3 번째 문서의 topic 비율은  [(0, 0.29661635), (6, 0.39061454), (7, 0.026280891), (8, 0.066823594), (17, 0.1443455), (19, 0.06434831)]
4 번째 문서의 topic 비율은  [(2, 0.37888154), (6, 0.2957579), (9, 0.29386693)]

In [125]:
print(dictionary[9]); print(dictionary[16]); print(dictionary[18])

degree
guilt
ignore

In [128]:
def make_topictable_per_doc(ldamodel, corpus, texts):
    topic_table = pd.DataFrame()
    
    for i, topic_list in enumerate(ldamodel[corpus]): # 문서 번호 / 토픽 비중
        doc = topic_list[0] if ldamodel.per_word_topics else topic_list
        doc = sorted(doc, key = lambda x: (x[1]), reverse = True)  # 각 문서에 대해 비중이 높은순 정렬
        
        for j, (topic_num, prop_topic) in enumerate(doc):  # 모든 문서에 대해 수행
            if j == 0:
                topic_table = topic_table.append(pd.Series([int(topic_num), 
                                                           round(prop_topic, 4),
                                                           topic_list]),
                                                           ignore_index = True) # 가장 비중이 높은 토픽과 그 비중, 전체 토픽 비중
                
            else:
                break
    return(topic_table)

In [129]:
topic_table = make_topictable_per_doc(ldamodel, corpus, tokenized_doc)
topic_table = topic_table.reset_index()
topic_table.columns = ['문서 번호', '가장 높은 비중 토픽', '가장 높은 토픽 비중', '각 토픽의 비중']
topic_table.head(10)

,문서 번호,가장 높은 비중 토픽,가장 높은 토픽 비중,각 토픽의 비중
0,0,12.0,0.4204,"[(6, 0.30564588), (12, 0.42043912), (13, 0.059..."
1,1,6.0,0.4954,"[(2, 0.09470914), (6, 0.49536663), (12, 0.0676..."
2,2,6.0,0.5497,"[(6, 0.549668), (12, 0.32414025), (15, 0.11199..."
3,3,6.0,0.3906,"[(0, 0.29661125), (6, 0.39058194), (7, 0.02628..."
4,4,2.0,0.3788,"[(2, 0.37878168), (6, 0.29584357), (9, 0.29388..."
5,5,6.0,0.3780,"[(5, 0.14903022), (6, 0.37804374), (16, 0.3126..."
6,6,19.0,0.4022,"[(0, 0.036834225), (1, 0.026452355), (4, 0.173..."
7,7,6.0,0.6520,"[(6, 0.6519972), (12, 0.15365508), (13, 0.1803..."
8,8,6.0,0.5424,"[(6, 0.54240465), (14, 0.3165403), (19, 0.1159..."
9,9,19.0,0.4686,"[(4, 0.2061655), (6, 0.29983205), (18, 0.01432..."

## Scikit-Learn을 이용한 LDA

In [160]:
# 약 15년 동안 발행되었던 뉴스 기사 제목 데이터

import urllib.request

urllib.request.urlretrieve("https://raw.githubusercontent.com/franciscadias/data/master/abcnews-date-text.csv",
                         filename = "abcnews-date-text.csv")
data = pd.read_csv('abcnews-date-text.csv', error_bad_lines = False)

In [161]:
print(len(data))

1082168

In [162]:
data.head()

   publish_date                                      headline_text
0      20030219  aba decides against community broadcasting lic...
1      20030219     act fire witnesses must be aware of defamation
2      20030219     a g calls for infrastructure protection summit
3      20030219           air nz staff in aust strike for pay rise
4      20030219      air nz strike to affect australian travellers

In [163]:
text = data[['headline_text']]
text.head()

                                       headline_text
0  aba decides against community broadcasting lic...
1     act fire witnesses must be aware of defamation
2     a g calls for infrastructure protection summit
3           air nz staff in aust strike for pay rise
4      air nz strike to affect australian travellers

In [164]:
## Text Preprocessing
# 토큰화

import nltk 
text['headline_text'] = text.apply(lambda row: nltk.word_tokenize(row['headline_text']), 
                                   axis = 1)
text.head()

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                                       headline_text
0  [aba, decides, against, community, broadcastin...
1  [act, fire, witnesses, must, be, aware, of, de...
2  [a, g, calls, for, infrastructure, protection,...
3  [air, nz, staff, in, aust, strike, for, pay, r...
4  [air, nz, strike, to, affect, australian, trav...

In [165]:
# 불용어 처리

from nltk.corpus import stopwords
stop = stopwords.words('english')
text['headline_text'] = text['headline_text'].apply(lambda x: [word for word 
                                                               in x 
                                                               if word not in (stop)])

text.head()

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

                                       headline_text
0   [aba, decides, community, broadcasting, licence]
1    [act, fire, witnesses, must, aware, defamation]
2     [g, calls, infrastructure, protection, summit]
3          [air, nz, staff, aust, strike, pay, rise]
4  [air, nz, strike, affect, australian, travellers]

In [166]:
# 표제어 추출(3인칭 단수 -> 1인칭, 과거 -> 현재형)

from nltk.stem import WordNetLemmatizer

text['headline_text'] = text['headline_text'].apply(lambda x: [WordNetLemmatizer().lemmatize(word, pos='v') 
                                                               for word in x])
text.head()

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

                                       headline_text
0       [aba, decide, community, broadcast, licence]
1      [act, fire, witness, must, aware, defamation]
2      [g, call, infrastructure, protection, summit]
3          [air, nz, staff, aust, strike, pay, rise]
4  [air, nz, strike, affect, australian, travellers]

In [167]:
# 길이 3 이하인 단어 제거

tokenized_doc = text['headline_text'].apply(lambda x: [word for word in x if
                                                       len(word) > 3])
text.head()

                                       headline_text
0       [aba, decide, community, broadcast, licence]
1      [act, fire, witness, must, aware, defamation]
2      [g, call, infrastructure, protection, summit]
3          [air, nz, staff, aust, strike, pay, rise]
4  [air, nz, strike, affect, australian, travellers]

In [169]:
## TF-IDF 행렬
# 역 토큰화

detokenized_doc = []

for i in range(len(text)):
    t = ' '.join(tokenized_doc[i])
    detokenized_doc.append(t)

text['headline_text'] = detokenized_doc

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [170]:
text['headline_text'][:5]

0       decide community broadcast licence
1       fire witness must aware defamation
2    call infrastructure protection summit
3                   staff aust strike rise
4      strike affect australian travellers
Name: headline_text, dtype: object

In [172]:
## 1000개의 단어로 TF-IDF 행렬 만들기

from sklearn.feature_extraction.text import TfidfVectorizer

vectorizer = TfidfVectorizer(stop_words = 'english', max_features = 1000)
X = vectorizer.fit_transform(text['headline_text'])
X.shape

(1082168, 1000)

In [173]:
## Topic Modeling

from sklearn.decomposition import LatentDirichletAllocation

lda_model = LatentDirichletAllocation(n_components = 10, 
                                     learning_method = 'online',
                                     random_state = 777,
                                     max_iter = 1)

In [175]:
lda_top = lda_model.fit_transform(X)

In [176]:
print(lda_model.components_)
print(lda_model.components_.shape)

[[1.00001533e-01 1.00001269e-01 1.00004179e-01 ... 1.00006124e-01
  1.00003111e-01 1.00003064e-01]
 [1.00001199e-01 1.13513398e+03 3.50170830e+03 ... 1.00009349e-01
  1.00001896e-01 1.00002937e-01]
 [1.00001811e-01 1.00001151e-01 1.00003566e-01 ... 1.00002693e-01
  1.00002061e-01 7.53381835e+02]
 ...
 [1.00001065e-01 1.00001689e-01 1.00003278e-01 ... 1.00006721e-01
  1.00004902e-01 1.00004759e-01]
 [1.00002401e-01 1.00000732e-01 1.00002989e-01 ... 1.00003517e-01
  1.00001428e-01 1.00005266e-01]
 [1.00003427e-01 1.00002313e-01 1.00007340e-01 ... 1.00003732e-01
  1.00001207e-01 1.00005153e-01]]
(10, 1000)

In [178]:
terms = vectorizer.get_feature_names() # 단어 집합, 1000개의 단어 저장

def get_topics(components, feature_names, n=5):
    for idx, topic in enumerate(components):
        print("Topic %d:" % (idx+1), [(feature_names[i], topic[i].round(2)) for i 
                                     in topic.argsort()[:-n-1:-1]])
get_topics(lda_model.components_,terms)

Topic 1: [('government', 8725.19), ('sydney', 8393.29), ('queensland', 7720.12), ('change', 5874.27), ('home', 5674.38)]
Topic 2: [('australia', 13691.08), ('australian', 11088.95), ('melbourne', 7528.43), ('world', 6707.7), ('south', 6677.03)]
Topic 3: [('death', 5935.06), ('interview', 5924.98), ('kill', 5851.6), ('jail', 4632.85), ('life', 4275.27)]
Topic 4: [('house', 6113.49), ('2016', 5488.19), ('state', 4923.41), ('brisbane', 4857.21), ('tasmania', 4610.97)]
Topic 5: [('court', 7542.74), ('attack', 6959.64), ('open', 5663.0), ('face', 5193.63), ('warn', 5115.01)]
Topic 6: [('market', 5545.86), ('rural', 5502.89), ('plan', 4828.71), ('indigenous', 4223.4), ('power', 3968.26)]
Topic 7: [('charge', 8428.8), ('election', 7561.63), ('adelaide', 6758.36), ('make', 5658.99), ('test', 5062.69)]
Topic 8: [('police', 12092.44), ('crash', 5281.14), ('drug', 4290.87), ('beat', 3257.58), ('rise', 2934.92)]
Topic 9: [('fund', 4693.03), ('labor', 4047.69), ('national', 4038.68), ('council', 4006.62), ('claim', 3604.75)]
Topic 10: [('trump', 11966.41), ('perth', 6456.53), ('report', 5611.33), ('school', 5465.06), ('woman', 5456.76)]

- LSA: DTM을 차원 축소하여 근접 단어들을 토픽으로 묶는다.
- LDA: 단어가 특정 토픽에 존재할 확률과 문서에 특정 토픽이 존재할 확률을 결합확률로 추정하여 토픽을 추출한다.